# API Server
fastapi
uvicorn[standard]
pydantic[email]
pydantic-settings

# AI
langchain
openai==1.0.1
outlines
faster-whisper

#misc
python-dotenv
flatbuffers==1.12.0

# Development
pip-tools
black
flake8